pipeline/Pipeline Github to ADLS Bronze.json
{
	"name": "Pipeline Github to ADLS Bronze",
	"properties": {
		"activities": [
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ValidationNetflixTitleFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.parray",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Github Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GithubDataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "NetflixBronzeLake",
									"type": "DatasetReference",
									"parameters": {
										"foldername": {
											"value": "@item().foldername",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "WebGithubMetaData",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://github.com/Arunkumar-A5/Netflix/tree/main/Files"
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebGithubMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "githubmetadata",
					"value": {
						"value": "@activity('WebGithubMetaData').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ValidationNetflixTitleFile",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "NetflixTitlesValidation",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			}
		],
		"parameters": {
			"parray": {
				"type": "array",
				"defaultValue": [
					{
						"foldername": "netflix_cast",
						"filename": "netflix_cast.csv"
					},
					{
						"foldername": "netflix_category",
						"filename": "netflix_category.csv"
					},
					{
						"foldername": "netflix_countries",
						"filename": "netflix_countries.csv"
					},
					{
						"foldername": "netflix_directors",
						"filename": "netflix_directors.csv"
					}
				]
			}
		},
		"variables": {
			"githubmetadata": {
				"type": "String"
			}
		},
		"annotations": []
	}
}